
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: IBM Plex Sans,sans-serif;
  color: #fff;
  background: linear-gradient(90deg,#000 15%,#224065);
  padding: 1rem;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h3, p {
  font-weight: 100;
}

img {
  border-radius: 1%;
  width: 100%;
  height: auto;
  transition: all .3s ease-in-out;
}

article, li a, h1 {
  transition: all 0.3s ease-in-out;
  position: relative;
}

#__next {
  min-height: 100vh;
}

/* Desktop */
 /* 576px, 768px, 992px, and 1200px */
 @media (min-width: 1200px) {
  
  li a:hover {
    text-shadow: 0px 0px 5px rgb(162, 198, 246);
    filter: drop-shadow(0px 1px 3px  rgb(162, 198, 246));
  }
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
